<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Solar System</title>
</head>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2> <%= planetEarth.name %></h2>

    <p> <%= planetEarth.description %></p>

    <img src="<%= data.url %>" alt="<%= data.title %>">
    <%- include('partials/footer.ejs') %>
</body>
</html>
