<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>NASA</h1>
    <%- include('partials/nav.ejs') %>
    </nav>
    <h3>Title of Picture</h3>
    <%= data.title %>
    <h3>Description</h3>
    <p> <%= data.explanation %></p>
    <h3>Date</h3>
    <p> <%= data.date %></p>
    <h3>Copyright</h3>
    <p> <%= data.copyright %></p>
    <img src="<%= data.url %>">
    <%- include('partials/footer.ejs') %>
</body>
</html>
