<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>The Solar System</h1>
     <nav><a href="/"> Home </a> 
         <a href="/earth"> Earth </a>
         <a href="/mars"> Mars </a>
    </nav>
    <h2> <%= planetName %></h2>

    <p> <%= planetInfo.description %></p>

    <img src="<%= planetInfo.image %>">
</body>
<%- include('partials/footer.ejs') %>
</html>
