<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2> <%= planetName %></h2>

    <p> <%= planetInfo.description %></p>
    <p> <%= planetInfo.distanceFromSun %></p>
    <p> <%= planetInfo.yearLength %></p>
    <p> <%= planetInfo.radius %></p>
    <p> <%= planetInfo.websiteLink %></p>
    <p> <%= planetInfo.moons %></p>

    <img src="<%= planetInfo.image %>">
</body>
<%- include('partials/footer.ejs') %>
</html>
