<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2> <%= planetName %></h2>

    <h3>Description: </h3> <p> <%= planetInfo.description %></p>
    <h3>Distance from Sun: </h3> <p> <%= planetInfo.distanceFromSun %></p>
    <h3>Length of a year on the planet: </h3>
    <p> <%= planetInfo.yearLength %></p>
    <h3>Radius: </h3>
    <p> <%= planetInfo.radius %></p>
    <h3>Link to website: </h3>
    <p> <%= planetInfo.websiteLink %></p>
    <h3>How many moons does the planet have?</h3>
    <p> <%= planetInfo.moons %></p>

    <img src="<%= planetInfo.image %>">
</body>
<%- include('partials/footer.ejs') %>
</html>
